/* Add the necessary styles for each section and element */

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #7031a0, #13c5c8, #7031a0);
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #09192f, #0a3c68, #093c22, #1d1d1d);
  background-size: 800% 800%;
  animation: rainbow 12s ease infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 82%; }
  50% { background-position: 100% 19%; }
  100% { background-position: 0% 82%; }
}

header {
  text-align: center;
  padding: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.animated-heading {
  display: flex;
  align-items: center;
  font-size: 48px;
  animation: slide-in-left 1s ease-in-out forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-subheading {
  font-size: 24px;
  animation: fade-in 1s ease-in-out forwards;
}
/* 
header {
  text-align: center;
  padding: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

/* .animated-heading {
  font-size: 48px;
  animation: slide-in-left 1s ease-in-out forwards;
} */

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-subheading {
  font-size: 24px;
  animation: fade-in 1s ease-in-out forwards;
}

.container {
  display: flex;
  margin-top: 30px;
}

.tab {
  flex: 0 0 20%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;
}

.tab button {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.tab button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.tab button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.tabcontent {
  flex: 0 0 80%;
  padding: 20px;
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  animation: fade-in 0.7s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .fade-out {
  animation: fade-out 0.10s ease-in-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.section-title {
  text-align: center;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.tabcontent p {
  margin-bottom: 10px;
  color: #fff;
}

.tabcontent ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
  color: #fff;
}

.tabcontent ul li {
  margin-bottom: 5px;
}

.tabcontent img {
  max-width: 100%;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Add more styles for other sections, elements, and animations */
